/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#fff;
    color:#222;
}

/* NAVBAR */
.header{
    width:100%;
    background:#000;
    padding:15px 0;
    color: #000;
}

.navbar{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    
    font-size:32px;
    font-weight:bold;
}

.logo span{
    color:#f1c40f;
}

.navbar ul{
    display:flex;
    list-style:none;
}

.navbar ul li{
    margin-left:25px;
}

.navbar ul li a{
    color:#000;
    text-decoration:none;
    font-size:17px;
}

.navbar ul li a:hover{
    color:#f1c40f;
}

/* HERO */
.hero{
    height:90vh;
    background:url('./pngtree-open-air-mediterranean-restaurant-lifestyle-lunch-table-photo-picture-image_4081646.jpg') no-repeat center/cover;
    display:flex;
    align-items:center;
    justify-content:center;
}

.hero-text{
    text-align:center;
    background:rgba(0,0,0,0.6);
    padding:40px;
    border-radius:15px;
    animation:fadeIn 1.5s ease;
}

.hero-text h1{
    font-size:50px;
    color:white;
}

.hero-text span{
    color:#f1c40f;
}

.hero-text p{
    color:white;
    margin-top:10px;
    font-size:20px;
}

.btn{
    background:#f1c40f;
    padding:12px 25px;
    text-decoration:none;
    color:black;
    display:inline-block;
    margin-top:20px;
    border-radius:5px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:#c8a40b;
    transform:scale(1.05);
}

/* SECTION TITLE */
.section-title{
    text-align:center;
    font-size:35px;
    margin:40px 0;
    color:#000;
}

/* MENU */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #000;
    color: #000
}

.header {
    background: linear-gradient(90deg, #ffcc00, #ffaa00);
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #000;
    box-shadow: 0 4px 10px rgba(255, 204, 0, 0.5);
}

.menu-section {
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.category-title {
    font-size: 28px;
    margin: 25px 0 10px;
    color: #ffcc00;
    border-left: 6px solid #ffcc00;
    padding-left: 10px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-bottom: 40px;
}

.menu-card {
    background:#000;
    border: 2px solid #ffcc00;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    transition: 0.4s;
    cursor: pointer;
    transform: scale(1);
}zz

.menu-card:hover {
    transform: scale(1.06);
    border-color: #ffcc00;
    box-shadow: 0 0 20px #ffcc00;
}

.menu-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

.menu-card h3 {
    margin-top: 12px;
    font-size: 20px;
    color: #fff;
}

.menu-card h2 {
    margin-top: 12px;
    font-size: 20px;
    color: #ffcc00;
}

.menu-card p {
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
}

.menu-card img {
    width: 120px;
    height: auto;
    border-radius: 10px;
}



/* ABOUT */
.about{
    padding:50px 10%;
    background:#fff;
}

.about-box{
    display:flex;
    gap:25px;
    align-items:center;
    flex-wrap:wrap;
}

.about-box img{
    width:350px;
    border-radius:12px;
}

.about-text h3{
    font-size:25px;
    color:#f1c40f;
}

.about-text p{
    margin:10px 0;
    font-size:17px;
    color: #000;
}

/* CONTACT */
.contact{
    padding:50px 10%;
}

.contact-grid{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:20px;
}

.contact-form{
    max-width:450px;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact-form input,
.contact-form textarea{
    padding:12px;
    border:2px solid #ccc;
    border-radius:6px;
}

.map{
    width:450px;
    height:300px;
    border-radius:10px;
}

/* FOOTER */
.footer{
    background:#000;
    color:white;
    text-align:center;
    padding:15px 0;
    margin-top:40px;
}

/* FADE ANIMATION */
@keyframes fadeIn{
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0);}
}
